.picture-box {
  padding: 90px 0 50px;
  border: 3px solid #fff;
  border-radius: 10px;
  text-align: center;
  width: 800px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*** CUSTOM FILE INPUT STYE ***/
.wrap-custom-file {
  position: relative;
  /* display: inline-block; */
  width: 200px;
  height: 150px;
  margin: 0 0.5rem 1rem;
  text-align: center;
}

.wrap-custom-file p {
  color: #fff;
  position: relative;
  top: -40px;
  font-size: 20px;
  width: 200px;
}

.wrap-custom-file input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  overflow: hidden;
  opacity: 0;
}

.wrap-custom-file label {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  padding: 0 0.5rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  border: 3px solid #fff;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -ms-transition: -ms-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
}

.wrap-custom-file label span {
  display: block;
  margin-top: 1rem;
  font-size: 18px;
  color: #0060AE;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.wrap-custom-file label .fal {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  transform: translatex(-50%);
  font-size: 1.5rem;
  color: #0060AE;
  ;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.wrap-custom-file label:hover {
  -webkit-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px);
  transform: translateY(-7px);
}

.wrap-custom-file label:hover span, .wrap-custom-file label:hover .fal {
  color: #E2B13B;
}

.wrap-custom-file label.file-ok {
  background-size: cover;
  background-position: center;
}

.wrap-custom-file label.file-ok span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  font-size: 12px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
}

.wrap-custom-file label.file-ok .fal {
  display: none;
}

@media (max-width: 850px) {
  .form-box {
    width: 100%;
  }

  .picture-box {
    padding: 50px 0 50px;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrap-custom-file {
    width: 400px;
    height: 250px;
    margin: 0 0.5rem 5rem;
  }

  .wrap-custom-file p {
    width: 400px;
  }

  .confirm {
    margin-top: 0;
  }
}

@media (max-width: 650px) {
  .wrap-custom-file {
    width: 220px;
    height: 150px;
    margin: 0 0.5rem 3.5rem;
  }

  .wrap-custom-file p {
    font-size: 14px;
    top: -30px;
    width: 220px;
  }

  .wrap-custom-file label span {
    font-size: 12px;
  }

  .confirm input {
    width: 126.64px;
    padding: 10px;
    background: #FFFFFF;
    border: 3px solid #0060AE;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 14px;
  }
}
