.logo {
  width: 100%;
  text-align: center;
  padding: 53px 0;
  background-color: #0060AE;
}

.logo img {
  width: 253.61px;
}

#main {
  padding: 80px 60px;
}

#main h1 {
  text-align: center;
  margin-bottom: 80px;
}

#main p {
  margin-bottom: 50px;
}

@media (max-width: 754px) {

  .logo img {
    width: 153.61px;
  }

  #main {
    padding: 80px 30px;
  }
}
